.img-group-list {
  width: 96%;
  margin: 44px auto;
  padding: 3px 0 20px;
  overflow: hidden;

  column-count: 2; 
  column-gap: 0;
}

.img-group-item {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;

  break-inside: avoid; 
  box-sizing: border-box;
}
.img-group-item img {
  max-width: 100%;
  border-radius: 2px;
}
.img-group-item .num {
  position: absolute;
  bottom: 3px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 5px 10px;
  border-bottom-right-radius: 2px;
}
